.container-page{
    width: 100%;

    .title{
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
    }

    .action{
        display: flex;
        justify-content: space-between;
        margin: 20px 0 10px;
        .btn{
            align-items: center;
            background-color: #26782b;
            border-color: #26782b;
            border: 0;
            border-radius: 14px;
            color: #ffffff;
            cursor: pointer;
            display: inline-flex;
            font-size: 15px;
            font-weight: 500;
            justify-content: center;
            min-width: 0px;
            overflow: hidden;
            text-align: center;
            -webkit-user-select: none;
            user-select: none;
            height: 40px;
            padding: 0 18px;
        }

        .search{

        }
    }

    .icon-edit{
        color: blue;
        cursor: pointer;
    }

    .icon-remove{
        margin-left: 10px;
        color: red;
        cursor: pointer;
    }

    .paging{
        display: flex;
        justify-content: end;
        margin-top: 10px;
    }
}