<div class="container-form">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <div nz-row nzGutter="12">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Mã nhân viên</nz-form-label>
                        <nz-input-group>
                            <input type="text" nz-input formControlName="userCodeCtrl" placeholder="Nhập" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Tên nhân viên</nz-form-label>
                        <nz-input-group>
                            <input type="text" nz-input formControlName="userNameCtrl" placeholder="Nhập" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row nzGutter="12">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Giới tính</nz-form-label>
                        <nz-input-group>
                            <nz-select formControlName="genderCtrl" [nzPlaceHolder]="'Chọn'">
                                <nz-option *ngFor="let item of GENDERS" [nzValue]="item.key"
                                    [nzLabel]="item.value"></nz-option>
                            </nz-select>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12"><nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Ngày/tháng/năm sinh</nz-form-label>
                        <nz-input-group>
                            <nz-date-picker class="w-100" formControlName="dateOfBirth"
                                [nzPlaceHolder]="'Chọn'"></nz-date-picker>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row nzGutter="12">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Số điện thoại</nz-form-label>
                        <nz-input-group>
                            <input type="text" nz-input formControlName="phoneCtrl" placeholder="Nhập" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Địa chỉ</nz-form-label>
                        <nz-input-group>
                            <input type="text" nz-input formControlName="addressCtrl" placeholder="Nhập" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row nzGutter="12">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Email</nz-form-label>
                        <nz-input-group>
                            <input type="text" nz-input formControlName="emailCtrl" placeholder="Nhập" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>CCCD</nz-form-label>
                        <nz-input-group>
                            <input type="text" nz-input formControlName="identityCardCtrl" placeholder="Nhập" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row nzGutter="12">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Trạng thái</nz-form-label>
                        <nz-input-group>
                            <nz-select formControlName="statusCtrl" [nzPlaceHolder]="'Chọn'">
                                <nz-option *ngFor="let item of STATUS" [nzValue]="item.key"
                                    [nzLabel]="item.value"></nz-option>
                            </nz-select>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Chức vụ</nz-form-label>
                        <nz-input-group>
                            <nz-select formControlName="positionCtrl" placeholder="Username" [nzPlaceHolder]="'Chọn'">
                                <nz-option *ngFor="let item of POSITIONS" [nzValue]="item.key"
                                    [nzLabel]="item.value"></nz-option>
                            </nz-select>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row nzGutter="12">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Mã hợp đồng lao động</nz-form-label>
                        <nz-input-group>
                            <input type="text" nz-input formControlName="laborContractCtrl" placeholder="Nhập" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Mức lương</nz-form-label>
                        <nz-input-group>
                            <input type="text" nz-input formControlName="salaryCtrl" placeholder="Nhập" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row nzGutter="12">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Ngày vào làm</nz-form-label>
                        <nz-input-group>
                            <nz-date-picker class="w-100" formControlName="dateStart"
                                [nzPlaceHolder]="'Chọn'"></nz-date-picker>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12"><nz-form-item>
                    <nz-form-control>
                        <nz-form-label class="label-input">Ngày nghỉ</nz-form-label>
                        <nz-input-group>
                            <nz-date-picker class="w-100" formControlName="dateEnd"
                                [nzPlaceHolder]="'Chọn'"></nz-date-picker>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>

    <div class="action">
        <button nz-button class="btn" nzType="default" (click)="closeFrom()">Thoát</button>
        <button nz-button class="btn" nzType="primary" (click)="submitForm()">Lưu</button>
    </div>
</div>