<div class="container-form">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <div nz-row nzGutter="12">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Mã nhân viên</nz-form-label>
                        <nz-input-group>
                            <input type="text" nz-input formControlName="userCodeCtrl" placeholder="Nhập" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Tên nhân viên</nz-form-label>
                        <nz-input-group>
                            <input type="text" nz-input formControlName="userNameCtrl" placeholder="Nhập" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row nzGutter="12">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Chức vụ</nz-form-label>
                        <nz-input-group>
                            <nz-select formControlName="positionCtrl" placeholder="Username" [nzPlaceHolder]="'Chọn'">
                                <nz-option *ngFor="let item of POSITIONS" [nzValue]="item.key"
                                    [nzLabel]="item.value"></nz-option>
                            </nz-select>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Mức lương</nz-form-label>
                        <nz-input-group>
                            <input type="text" nz-input formControlName="salaryCtrl" placeholder="Nhập" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row nzGutter="12">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Ngày công</nz-form-label>
                        <nz-input-group>
                            <input type="text" nz-input formControlName="workDayCtrl" placeholder="Nhập" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Phụ cấp</nz-form-label>
                        <nz-input-group>
                            <input type="text" nz-input formControlName="allowanceCtrl" placeholder="Nhập" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row nzGutter="12">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Thưởng</nz-form-label>
                        <nz-input-group>
                            <input type="text" nz-input formControlName="bonusCtrl" placeholder="Nhập" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Phạt</nz-form-label>
                        <nz-input-group>
                            <input type="text" nz-input formControlName="punishCtrl" placeholder="Nhập" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row nzGutter="12">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Tạm ứng</nz-form-label>
                        <nz-input-group>
                            <input type="text" nz-input formControlName="advanceCtrl" placeholder="Nhập" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Thực nhận</nz-form-label>
                        <nz-input-group>
                            <input type="text" nz-input formControlName="actuallyReceivedCtrl" placeholder="Nhập" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row nzGutter="12">
            <div nz-col nzSpan="12">
                 <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Trạng thái</nz-form-label>
                        <nz-input-group>
                            <nz-select formControlName="statusCtrl" [nzPlaceHolder]="'Chọn'">
                                <nz-option *ngFor="let item of STATUS" [nzValue]="item.key"
                                    [nzLabel]="item.value"></nz-option>
                            </nz-select>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="MSG.validate_required">
                        <nz-form-label class="label-input" nzRequired>Ngày nhận</nz-form-label>
                        <nz-input-group>
                            <nz-date-picker class="w-100" formControlName="dateOfReceiptCtrl"
                                [nzPlaceHolder]="'Chọn'"></nz-date-picker>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>

    <div class="action">
        <button nz-button class="btn" nzType="default" (click)="closeFrom()">Thoát</button>
        <button nz-button class="btn" nzType="primary" (click)="submitForm()">Lưu</button>
    </div>
</div>