<div class="container-page">
    <div class="title">Quản lý hồ sơ nhân viên</div>
    <div class="action">
        <div class="btn" (click)="openModalCreate()">Thêm mới</div>
        <div class="search">
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <nz-form-item class="input-search">
                    <nz-form-control>
                        <input id="note" type="text" nz-input formControlName="search" placeholder="Tìm kiếm" />
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>


    </div>
    <div class="table">
        <nz-table #fixedTable [nzData]="listOfData" [nzScroll]="{ x: '1150px', y: '330px' }" [nzShowPagination]="false">
            <thead>
                <tr>
                    <th nzWidth="80px" nzLeft>STT</th>
                    <th nzLeft nzWidth="160px">Tên nhân viên</th>
                    <th nzWidth="140px">Mã nhân viên</th>
                    <th nzWidth="100px">Chức vụ</th>
                    <th nzWidth="100px">Trạng thái</th>
                    <th nzWidth="180px">Hợp đồng lao động</th>
                    <th nzWidth="130px">Mức lương</th>
                    <th nzWidth="100px">Mã lương</th>
                    <th nzWidth="160px">Số điện thoại</th>
                    <th nzWidth="100px">Email</th>
                    <th nzWidth="100px">CCCD</th>
                    <th nzWidth="80px" nzRight>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of fixedTable.data; index as i">
                    <td nzWidth="80px" nzLeft>{{ i }}</td>
                    <td nzLeft nzWidth="160px">{{ data.age }}</td>
                    <td nzWidth="140px">{{ data.address }}</td>
                    <td nzWidth="100px">{{ data.address }}</td>
                    <td nzWidth="100px">{{ data.address }}</td>
                    <td nzWidth="180px">{{ data.address }}</td>
                    <td nzWidth="130px">{{ data.address }}</td>
                    <td nzWidth="100px">{{ data.address }}</td>
                    <td nzWidth="160px">{{ data.address }}</td>
                    <td nzWidth="100px">{{ data.address }}</td>
                    <td nzWidth="100px">{{ data.address }}</td>
                    <td nzWidth="80px" nzRight>
                        <span nz-icon class="icon-edit" nzType="edit" nzTheme="outline" (click)="openModalUpdate()"></span>
                        <span nz-icon class="icon-remove" nzType="delete" nzTheme="outline" (click)="showConfirm()"></span>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <div class="paging">
            <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
        </div>
    </div>
</div>