<div class="container-page">
    <div class="title">Quản lý hồ sơ nhân viên</div>
    <div class="action">
        <div class="btn" (click)="openModal(MODE_FORM.create)">Thêm mới</div>
        <div class="search">
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <nz-form-item class="input-search">
                    <nz-form-control>
                        <input id="note" type="text" nz-input formControlName="searchCtrl" placeholder="Tìm kiếm" />
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>


    </div>
    <div class="table">
        <nz-table #fixedTable [nzData]="listOfData" [nzScroll]="{ x: '1150px', y: '330px' }" [nzShowPagination]="false">
            <thead>
                <tr>
                    <th nzWidth="80px" nzLeft>STT</th>
                    <th nzWidth="100px" nzLeft>Mã nhân viên</th>
                    <th nzWidth="160px">Tên nhân viên</th>
                    <th nzWidth="100px">Chức vụ</th>
                    <th nzWidth="100px">Trạng thái</th>
                    <th nzWidth="80px" nzRight>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of fixedTable.data; index as i">
                    <td nzWidth="80px" nzLeft>{{ i + 1 + (currentPage-1)*10 }}</td>
                    <td nzLeft nzWidth="100px">{{ data.userCode }}</td>
                    <td nzWidth="160px">{{ data.userName }}</td>
                    <td nzWidth="100px">{{ data.positionView }}</td>
                    <td nzWidth="160px">{{ data.statusView }}</td>
                    <td nzWidth="80px" nzRight>
                        <span nz-icon class="icon-view" nzType="eye" nzTheme="outline"
                            (click)="openModal(MODE_FORM.detail, data)"></span>
                        <span nz-icon class="icon-edit" nzType="edit" nzTheme="outline"
                            (click)="openModal(MODE_FORM.update, data)"></span>
                        <span nz-icon class="icon-remove" nzType="delete" nzTheme="outline"
                            (click)="showConfirm(data)"></span>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <div class="paging">
            <nz-pagination [(nzPageIndex)]="currentPage" [nzTotal]="total" [nzSize]="'small'"
                [nzShowTotal]="totalTemplate" (nzPageIndexChange)="handlePageChange($event)"></nz-pagination>
        </div>
    </div>
    <ng-template #totalTemplate let-total>Tổng số: {{ total }} bản ghi</ng-template>
</div>